.tableContainer {
  overflow-y: auto;
  overflow-x: auto;
  max-height: 60vh;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.customerTable {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  font-family: 'Sora', sans-serif;
  border-radius: 8px;
  th {
    text-align: left;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    background-color: #B18B5E;
    color: white;
    padding: 0.75rem;
    z-index: 10;
    font-size: 0.95rem;
  }
  tr:hover {
    background-color: rgba(255, 128, 0, 0.08);
  }

  .sortIcon {
    margin-left: 0.4rem;
    align-items: stretch;
    flex-direction: column;
    display: inline-flex;
    line-height: 1;
    svg{
      font-size: 20px;
      height: 1em;
      width: 1em;
    }
  }
  .activeSortIcon {
    color: #fdf7f2;
  }

  .inactiveSortIcon {
    color: #bbb;
  }
  td {
    padding: 0.75rem;
    background-color: #fdf7f2;
    color: #333;
    font-size: 0.9rem;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    &:hover {
      background-color: rgba(255, 128, 0, 0.08);
    }
  }


  button {
    background-color: #a47d4f;
    color: white;
    border: 1px solid #a47d4f;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
  }

  button:hover {
    background-color: #cc6600;
  }
}

.customerDetail {
  background-color: #fffbe9;
  padding: 1rem;
  border-left: 4px solid #FF8000;
  border-radius: 4px;
  font-size: 0.9rem;
}

.pagination {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .paginationButton{
    display: flex;
    gap:10px;
    @media (max-width: 480px) {
    display: none;
    }
  }

  button {
    background-color: #a47d4f;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:disabled {
      background-color: #ddd;
      color: #999;
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      background-color: #cc6600;
    }
  }

  span {
    font-weight: bold;
    font-size: 1rem;
    color: #333;
  }
}
